<html>
  <head>
    <title>Map Rubric</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
	    <ul>
		{% for criterion in criteria %}
	    	<li>
			<p> {{criterion['criterion_name']}} </p>
			<select multiple name="subject_learning_outcomes_field[]" form='subject_form'>
			<!--http://flask.pocoo.org/docs/1.0/templating/#standard-filters-->
			<!--Rubric Criterion can be mapped to multiple learning outcomes. Will need to handle this on the other side.-->
			{% for each_learning_outcome in learning_outcomes %}
				<option value={{ each_learning_outcome['_id']['$oid'] }}>{{each_learning_outcome['learning_outcome_name']}}</option>
			{% endfor %}
			</select>
		</li>
		{% endfor %}
      </ul>
      <input class="btn btn-default" type="submit" value="Create">
    </div>
  </body>
</html>
