<html>
  <head>
    <title>Rubric Data</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Rubric Data</h1>
      <br>
      <form action="" method="post">
         <input type="text" placeholder="Course ID" name="course_id" value="{{
          request.form.course_id }}">
	 <input type="text" placeholder="Assessment ID" name="assessment_id" value="{{
          request.form.assessment_id }}">
        <input class="btn btn-default" type="submit" value="Extract">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>
