<html>
  <head>
    <title>Student Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Student Search</h1>
      <br>
      <form action="" method="post">
         <input type="text" placeholder="search" name="search_term" value="{{
          request.form.search_term }}">
        <input class="btn btn-default" type="submit" value="Search">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>
