<html>
  <head>
    <title>Subjects</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
	    <ul>
		    {% for each_subject in subjects %}
	    		<li>
            <div>
				      <p> {{each_subject.subject_name}} </p>
              <p> {{each_subject.subject_description}} </p>
              <ul>
                {% for each_learning_outcome in subjects.learning_outcomes %}
                  <li>
                    {{each_learning_outcome.learning_outcome_name}}
                  </li>
                {% endfor %}
              </ul>
            </div>
			    </li>
			{% endfor %}
	    </ul>
    </div>
    <div class="container">
	    <form id='subject_form'action="" method="post">
        <input type="text" placeholder="Subject Name" name="subject_name_field" value="{{
          request.form.subject_name }}">
        <input type="text" placeholder="Subject Description" name="subject_description_field" value="{{
          request.form.subject_description }}">
          <select multiple name="subject_learning_outcomes_field[]" form='subject_form'>
            <!--http://flask.pocoo.org/docs/1.0/templating/#standard-filters-->
            {% for each_learning_outcome in learning_outcomes %}
              <option value={{ each_learning_outcome['_id']['$oid'] }}>{{each_learning_outcome['learning_outcome_name']}}</option>
            {% endfor %}
          </select>
        <input class="btn btn-default" type="submit" value="Create">
      </form>
    </div>
  </body>
</html>
