<html>
  <head>
    <title>Subjects</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
	    <ul>
		    {% for each_subject in subjects %}
	    		<li>
				<p> {{each_subject.subject_name}} </p>
				<p> {{each_subject.subject_description}} </p>
			</li>
			{% endfor %}
	    </ul>
    </div>
    <div class="container">
	    <form action="/" method="post">
        <input type="text" placeholder="Subject Name" name="subject_name_field" value="{{
          request.form.subject_name }}">
        <input type="text" placeholder="Subject Description" name="subject_description_field" value="{{
          request.form.subject_description }}">
          <p>{{learning_outcomes}}</p>
          <select>
            <!--http://flask.pocoo.org/docs/1.0/templating/#standard-filters-->
            {% for each_learning_outcome in learning_outcomes %}
              <option>{{each_learning_outcome}}</option>
            {% endfor %}
          </select>
      </form>

    </div>
  </body>
</html>
